{% extends "main.html" %}
{% block content %}

            <!-- nav area start -->
            <!-- side bar -->
            <div class="wrapper">
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h3>Categories</h3>
                        <strong>CT</strong>
                    </div>

                    <ul class="list-unstyled components">
                        <li>
                            <a href="#">
                                <i class="fas fa-copy"></i>
                                item with icon
                            </a>
                        </li>
                        {% for c in categories %}
                        <li>
                            <a href="{{url_for('showCategoryItems', category = c.name)}}">
                                {{c.name}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                    <ul class="list-unstyled CTAs">
                        <li>
                            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">
                                <i class="fab fa-2x fa-github"></i>
                                View source
                            </a>
                        </li>
                    </ul>
                </nav>
                <div id="content">
                    <div class="content-padding">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container-fluid">

                                <button type="button" id="sidebarCollapse" class="btn btn-info">
                                    <i class="fas fa-align-left"></i>
                                </button>
                                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fas fa-align-justify"></i>
                                </button>

                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="nav navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">LogIn</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <!-- nav area end -->

                        {% include "flash_error_message.html" %}

                        <!-- banner area start -->
                        <div class="container">
                            <!-- edit the item -->
                            <form action="{{ url_for('addItem') }}" method = 'POST'>
                              <div class="form-group">
                                <label for="name">Name</label>
                                <input type="name" name='name' class="form-control" id="name" placeholder="Item name">
                              </div>
                              <div class="form-group">
                                <label for="type">Type</label>
                                <select class="form-control"  name='category' id="type">
                                    {% for c in categories %}
                                        <option>{{c.name}}</option>
                                    {% endfor %}
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" name='description' id="description" rows="3" placeholder="Add here the description."></textarea>
                              </div>
                            <button type="submit" class="btn btn-danger" id="submit" type="submit">
                                Save
                            </button>
                            <a href = "{{url_for('showCatalogs')}}">
                                <button class="btn btn-success" type="button">
                                 Cancel
                                </button>
                            </a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
