{% extends "main.html" %}
{% block content %}

            <!-- nav area start -->
            <!-- side bar -->
            <div class="wrapper">
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h3>Categories</h3>
                        <strong>CT</strong>
                    </div>

                    <ul class="list-unstyled components">
                        {% for c in categories %}
                        <li>
                            <a href="{{url_for('showCategoryItems', category = c.name)}}">
                                {{c.name}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                    <ul class="list-unstyled CTAs">
                        <li>
                            <a href="https://github.com/yusefrich/PT--WP--UP--catalog-web-application" target="_blank" class="download">
                                <i class="fab fa-2x fa-github"></i>
                                View source
                            </a>
                        </li>
                    </ul>
                </nav>
                <div id="content">
                    <div class="content-padding">
                        {% include "navbar.html" %}
                        <!-- nav area end -->

                        <!-- banner area start -->
                        <div class="container">
                            <!-- delete the item -->
                            <div class="jumbotron">
                              <h3 class="display-4">Delete "{{current_item.name}}"?</h3>
                              <p class="lead"> this action will delete the current item, are you sure about that?</p>
                              <p class="lead">
                                <form action="{{ url_for('deleteItem', item=current_item.name) }}" method = 'POST'>
                                    <button class="btn btn-danger" id="submit" type="submit">
                                        Delete
                                    </button>
                                </form>
                              </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
