<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Catalog Application Example</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/sidebar.css">
    <!--
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    -->

</head>
<body class="cat-body">
<div class="body-wrap-top-icon">
    <section class="home-link-area">
        <a href="#">
            <div class="container d-flex justify-content-center">
                <i class=" pt-4 pb-4 text-light fas fa-2x fa-home"></i>
            </div>
        </a>
    </section>

    <section class="add-item-link-area border-shadow">
        <a href="#">
            <div class="container d-flex justify-content-center add-item-top">
                <i class=" pt-4 pb-4 text-light fas fa-2x fa-plus"></i> <h5 class="text-light">add item</h5>
            </div>
        </a>
    </section>

</div>

<div class="body-wrap">
    <section class="catalog-items-area">
        <div class="container-fluid no-padding">

            <!-- nav area start -->
            <!-- side bar -->
            <div class="wrapper">
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h3>Categories</h3>
                        <strong>CT</strong>
                    </div>

                    <ul class="list-unstyled components">
                        <li>
                            <a href="#">
                                Soccer
                            </a>
                            <a href="#">
                                <i class="fas fa-copy"></i>
                                Basketball
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Baseball
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Frisbee
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Snowboarding
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Rock Climbing
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Foosball
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Skating
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hockey
                            </a>
                        </li>
                    </ul>

                    <ul class="list-unstyled CTAs">
                        <li>
                            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">
                                <i class="fab fa-2x fa-github"></i>
                                View source
                            </a>
                        </li>
                    </ul>
                </nav>
                <div id="content">
                    <div class="content-padding">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container-fluid">

                                <button type="button" id="sidebarCollapse" class="btn btn-info">
                                    <i class="fas fa-align-left"></i>
                                </button>
                                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fas fa-align-justify"></i>
                                </button>

                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="nav navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">LogIn</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <!-- nav area end -->

                        <!-- banner area start -->
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1>Store here all your items catalog!</h1>
                                    <span>This application was made using flask and python, fell free to use it and store
                                    all your items in this catalog, you can see all the source code from this application
                                    in the link on the left</span>
                                </div>
                                <div class="col-md-6">
                                    <img class="img-fluid" src="../static/img/banner-img.png" alt="snowboarding banner image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid green-content-bg content-padding">
                <div class="content-gap">
                    <h3 class="text-light">Latest items</h3>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Stick
                        <span class="badge badge-primary badge-pill">Hockey</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Goggles
                        <span class="badge badge-primary badge-pill">Snowboarding</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Snowboard
                        <span class="badge badge-primary badge-pill">Snowboarding</span>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="body-wrap-bottom ">
    <section class="footer-area">
        <div class="container pt-5 content-padding">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-light">Application developed and designed by</p>
                    <h5 class="text-light">Yusef Richard</h5>
                    <a class="btn c-btn" href="https://www.instagram.com/yusef_rich/" role="button" target="blank" ><i class="fab fa-instagram"></i></a>
                    <a class="btn c-btn" href="https://github.com/yusefrich" role="button" target="blank" ><i class="fab fa-github"></i></a>
                    <!-- 
                    <a name="" id="" class="btn btn-primary" href="#" role="button"><i class="fab fa-linkedin-in"></i></a>
                    -->
                </div>
                <div class="col-md-6">
                    <div class=" d-flex align-items-end flex-column ">
                        <h5 class="text-light">Contact</h5>    
                        <p class=" text-light">richard.alves.dev@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

</body>
</html>