{% extends "main.html" %}
{% block content %}

            <!-- nav area start -->
            <!-- side bar -->
            <div class="wrapper">
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h3>Categories</h3>
                        <strong>CT</strong>
                    </div>

                    <ul class="list-unstyled components">
                        {% for c in categories %}
                        <li>
                            <a href="{{url_for('showCategoryItems', category = c.name)}}">
                                {{c.name}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                    <ul class="list-unstyled CTAs">
                        <li>
                            <a href="https://github.com/yusefrich/PT--WP--UP--catalog-web-application" target="_blank" class="download">
                                <i class="fab fa-2x fa-github"></i>
                                View source
                            </a>
                        </li>
                    </ul>
                </nav>
                <div id="content">
                    <div class="content-padding">
                        {% include "navbar.html" %}
                        <!-- nav area end -->
                        {% include "flash_error_message.html" %}

                        <!-- banner area start -->
                        <div class="container">
                            <!-- edit the item -->
                            <form  action="{{ url_for('editItem', item=current_item.name) }}" method = 'POST'>
                              <div class="form-group">
                                <label for="name">Name</label>
                                <input type="name" name='name' class="form-control" id="name" placeholder="{{current_item.name}}">
                              </div>
                              <div class="form-group">
                                <label for="category">Category</label>
                                <select class="form-control" name='category' id="category">
                                    {% for c in categories %}
                                        <option>{{c.name}}</option>
                                    {% endfor %}
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" name='description' id="description" rows="3">
                                    {{current_item.description}}
                                </textarea>
                              </div>
                            <button class="btn btn-danger" id="submit" type="submit">
                                Save
                            </button>
                            <a href = "{{url_for('showCatalogs')}}">
                                <button class="btn btn-success" type="button">
                                 Cancel
                                </button>
                            </a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
