<div class="body-wrap-bottom ">
    <section class="footer-area">
        <div class="container pt-5 content-padding">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-light">Application developed and designed by</p>
                    <h5 class="text-light">Yusef Richard</h5>
                    <a class="btn c-btn" href="https://www.instagram.com/yusef_rich/" role="button" target="blank" ><i class="fab fa-instagram"></i></a>
                    <a class="btn c-btn" href="https://github.com/yusefrich" role="button" target="blank" ><i class="fab fa-github"></i></a>
                    <!--
                    <a name="" id="" class="btn btn-primary" href="#" role="button"><i class="fab fa-linkedin-in"></i></a>
                    -->
                </div>
                <div class="col-md-6">
                    <div class=" d-flex align-items-end flex-column ">
                        <h5 class="text-light">Contact</h5>
                        <p class=" text-light">richard.alves.dev@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
